/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

body {
  font-family: "Rubik";
  font-weight: normal;
  font-size: 12px;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  color: #616161;
  background: #ffffff;
}

/* ---------------------------------------------- */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

[class*="__container"] {
  max-width: 1087px;
  margin: 0 auto;
  padding: 0 15px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.button {
  display: inline-block;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: 0.14em;
  color: #fcfdfe;
  background: #ec5863;
  border-radius: 5px;
  padding: 14px 30px;
  transition: 0.3s ease 0s;
  z-index: 6;
  text-transform: uppercase;
}

.button:hover,
.button:focus {
  background-color: #c4434c;
}

/* -----------------HEADER----------------------------- */
.header {
  background: #fafbfd;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header__container {
  display: flex;
  align-items: center;
  min-height: 114px;
}

.header__menu {
  flex: 1 1 auto;
}
.header__button {
  flex: 0 0 252px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu__logo {
  display: flex;
  padding: 0 0 0 40px;
  align-items: center;
  background: url(/img/logo-virus.svg) 0 0 no-repeat;
  min-height: 40px;
}

.menu__logo-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.logo__red-text {
  color: #ec5863;
  transition: 0.3s ease 0s;
}
.logo__red-text:hover,
.logo__red-text:focus {
  color: #c4434c;
}

.menu {
  display: flex;
  justify-content: flex-end;
}
.menu__body {
}
.menu__list {
  display: flex;
}
.menu__item {
  margin: 0 40px 0 0;
}

.menu__link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #000000;
  transition: 0.3s ease 0s;
}
.menu__link:hover,
.menu__link:focus {
  color: #c4434c;
}

.icon-menu {
  display: none;
}

.button__blue {
  background: #4285f4;
}

@media (max-width: 1087px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
  .menu__item {
    margin: 0 30px 0 0;
  }
  .header__button {
    flex: 0 0 160px;
  }
  .header__container {
    min-height: 80px;
  }
}

@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
  }
  .icon-menu {
    display: flex;
    position: relative;
    flex: 0 0 30px;
    height: 18px;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    z-index: 52;
  }

  .icon-menu::before,
  .icon-menu::after {
    content: "";
    background-color: #000000;
    height: 2px;
  }

  .icon-menu span {
    height: 2px;
    background-color: #000000;
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 110px 15px 30px 15px;
    background: rgb(223, 223, 223);
    z-index: 51;
  }
  .menu__list {
    display: ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 52;
  }
  .menu__item {
    margin: 0 0px 15px 0;
  }
  .menu__link {
    font-size: 22px;
    line-height: 1.2;
  }

  .button {
    padding: 12px 16px;
  }
}
@media (max-width: 479.98px) {
  .button {
    padding: 12px;
    font-size: 9px;
  }
  .menu__logo-text {
    font-size: 16px;
  }
}

/* ---------------------------------------------- */

/* ----PAGE---------------------------------------*/

/* ----MAIN---------------------------------------*/
.main {
  flex: 1 1 auto;
  background: #fafbfd;
}

/* ---------------------------------------------- */
/* .decor {
    background: #EC5863;
    border-radius: 30px 0px 0px 30px;
    position: absolute;
    top: 0;
    right: 0;
    height: 700px;
    width: 32%;
} */

/* ----FOOTER-------------------------------------*/

/* ---------------------------------------------- */
